
body {
    font-family: 'Manjari', sans-serif;
    background-color: #f4f4f4;
    color: #2c3143;
}
header {
    background-color: #73182c;
    color: white;
    padding: 10px;
    text-align: center;
}
nav {
    background-color: #313491;
    padding: 10px;
    text-align: center;
}
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
footer {
    background-color: #e13b3e;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
